html, body {
    width: 100%;
}

main{
   padding: 15px;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

button{
    border-radius: 45px;
    border: solid 1px black;
    font-size: 30px;
    min-width: 900px;
    min-height: 100px;
}