* {
  margin: 0;
  padding: 0;
}

img {
  width: auto;
  height: 150px;
}

a {
  padding: 15px;
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: white;
  color: black;
}

header {
  display: inherit;
  background-color: black;
  color: white;
}

main {
  text-align: center;
}

h1 {
  font-size: 50px;
}

.conteudo {
  padding: 15px;
  text-align: start;
}

.conteudo h2 {
  font-size: 30px;
}

.conteudo p {
  font-size: 20px;
}

.avancarPagina,
.voltarPagina {
  font-size: 18px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 3px;
  margin-top: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
