html, body{
    width: 100%;
}

table{
    font-size: 30px;
    border-collapse: collapse;
    width: 80%;
    height: 40%;
}

th, td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.user{
    background-color: black;
    color: white;
}

h1{
    margin: 50px;
}